In [2]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#load data set
df = pd.read_csv('Yellow_Taxi_Assignment.csv')

In [4]:
# Get a glimpse of the data
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2018-01-01 12:02:01   2018-01-01 12:04:05              1.0
1         2  2018-01-01 12:26:48   2018-01-01 12:31:29              1.0
2         2  2018-01-01 01:28:34   2018-01-01 01:39:38              4.0
3         1  2018-01-01 08:51:59   2018-01-01 09:01:45              1.0
4         2  2018-01-01 01:00:19   2018-01-01 01:14:16              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.53         1.0                  N           142           163
1           1.05         1.0                  N           140           236
2           1.83         1.0                  N           211           158
3           2.30         1.0                  N           249             4
4           3.06         1.0                  N           186           142

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1          3.5    0.0      0.5        1.29           0.0
1             1          6.0    0.0      0.5        1.02           0.0
2             1          9.5    0.5      0.5        1.62           0.0
3             2         10.0    0.0      0.5        0.00           0.0
4             1         12.5    0.5      0.5        1.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    0.3          5.59                   NaN          NaN
1                    0.3          7.82                   NaN          NaN
2                    0.3         12.42                   NaN          NaN
3                    0.3         10.80                   NaN          NaN
4                    0.3         14.80                   NaN          NaN

In [5]:
# Get information about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304978 entries, 0 to 304977
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               304978 non-null  int64
 1   tpep_pickup_datetime   304978 non-null  object
 2   tpep_dropoff_datetime  304978 non-null  object
 3   passenger_count        295465 non-null  float64
 4   trip_distance          304978 non-null  float64
 5   RatecodeID             295465 non-null  float64
 6   store_and_fwd_flag     295465 non-null  object
 7   PULocationID           304978 non-null  int64
 8   DOLocationID           304978 non-null  int64
 9   payment_type           304978 non-null  int64
 10  fare_amount            304978 non-null  float64
 11  extra                  304978 non-null  float64
 12  mta_tax                304978 non-null  float64
 13  tip_amount             304978 non-null  float64
 14  tolls_amount           304978 non-null  float64
 15  improvement_surcharge  304978 non-null  float64
 16  total_amount           304978 non-null  float64
 17  congestion_surcharge   232346 non-null  float64
 18  airport_fee            106217 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 44.2+ MB
None

In [6]:
# Check for missing values
print(df.isnull().sum())

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count            9513
trip_distance                 0
RatecodeID                 9513
store_and_fwd_flag         9513
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge      72632
airport_fee              198761
dtype: int64

In [7]:
# Describe the data to see basic statistical details
print(df.describe())

            VendorID  passenger_count  trip_distance     RatecodeID  \
count  304978.000000    295465.000000  304978.000000  295465.000000
mean        1.672786         1.479126       4.587589       1.142931
std         0.514069         1.108255     434.226624       2.969941
min         1.000000         0.000000     -16.860000       1.000000
25%         1.000000         1.000000       1.000000       1.000000
50%         2.000000         1.000000       1.730000       1.000000
75%         2.000000         2.000000       3.210000       1.000000
max         6.000000         6.000000  177247.400000      99.000000

        PULocationID   DOLocationID   payment_type    fare_amount  \
count  304978.000000  304978.000000  304978.000000  304978.000000
mean      163.744975     160.988898       1.240463      13.510189
std        66.570490      70.975905       0.528257      12.636651
min         1.000000       1.000000       0.000000    -197.000000
25%       121.000000     107.000000       1.000000       6.500000
50%       162.000000     162.000000       1.000000       9.500000
75%       234.000000     234.000000       2.000000      15.000000
max       265.000000     265.000000       5.000000     455.000000

               extra        mta_tax     tip_amount   tolls_amount  \
count  304978.000000  304978.000000  304978.000000  304978.000000
mean        0.903506       0.492755       2.224064       0.390715
std         1.185321       0.074023       2.765200       1.699547
min        -6.000000      -0.500000     -20.000000     -13.750000
25%         0.000000       0.500000       0.000000       0.000000
50%         0.500000       0.500000       1.860000       0.000000
75%         1.000000       0.500000       2.950000       0.000000
max        18.500000       2.540000     115.560000      96.550000

       improvement_surcharge   total_amount  congestion_surcharge  \
count          304978.000000  304978.000000         232346.000000
mean                0.312725      19.050501              2.241650
std                 0.110404      15.464014              0.791877
min                -1.000000    -198.550000             -2.500000
25%                 0.300000      10.800000              2.500000
50%                 0.300000      14.300000              2.500000
75%                 0.300000      20.760000              2.500000
max                 1.000000     561.490000              2.750000

         airport_fee
count  106217.000000
mean        0.085815
std         0.318628
min        -1.250000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.250000

Now I have a basic understanding of the data. I can see that there are missing values in several columns: passenger_count, RatecodeID, store_and_fwd_flag, congestion_surcharge, and airport_fee.

The next step will be to clean the data. I'll start by handling the missing values.

1. _passenger_count & RatecodeID_': These are numerical values, so I'll fill the missing values with the median of the respective columns. I choose the median because it's less sensitive to outliers than the mean.

In [8]:
df['passenger_count'] = df['passenger_count'].fillna(df['passenger_count'].median())
df['RatecodeID'] = df['RatecodeID'].fillna(df['RatecodeID'].median())

2. _store_and_fwd_flag_: This is a categorical field. I can fill the missing values with the most frequent category (mode).

In [9]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].fillna(df['store_and_fwd_flag'].mode()[0])

3. _congestion_surcharge & airport_fee_: These columns are related to extra charges. It's possible that the missing values represent situations where no surcharge or fee was applied. Therefore, it's reasonable to fill the missing values with 0.

In [10]:
df['congestion_surcharge'] = df['congestion_surcharge'].fillna(0)
df['airport_fee'] = df['airport_fee'].fillna(0)

After this, I will check for outliers and handle them as per the requirement. 

For datetime fields (_tpep_pickup_datetime & tpep_dropoff_datetime_), I need to convert them to datetime format. Currently, they are in object (string) format:

In [11]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

Then I am going to create new features from these datetime fields, such as the day of the week, the hour of the day, etc. These might be helpful in identifying patterns or trends.

In [24]:
# Extract the hour
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour
df['dropoff_hour'] = df['tpep_dropoff_datetime'].dt.hour

# Extract the day
df['pickup_day'] = df['tpep_pickup_datetime'].dt.day
df['dropoff_day'] = df['tpep_dropoff_datetime'].dt.day

# Extract the month
df['pickup_month'] = df['tpep_pickup_datetime'].dt.month
df['dropoff_month']= df['tpep_dropoff_datetime'].dt.month

# Extract the year
df['pickup_year'] = df['tpep_pickup_datetime'].dt.year
df['dropoff_year'] = df['tpep_dropoff_datetime'].dt.year

# Extract the day of week
df['pickup_dayofweek'] = df['tpep_pickup_datetime'].dt.dayofweek
df['dropoff_dayofweek'] = df['tpep_dropoff_datetime'].dt.dayofweek

#Extract week of the year
df['pickup_weekofyear'] = df['tpep_pickup_datetime'].dt.weekofyear
df['dropoff_weekofyear'] = df['tpep_dropoff_datetime'].dt.weekofyear

# Create a boolean flag indicating if the day is a weekend (Saturday/Sunday).
df['pickup_is_weekend'] = df['tpep_pickup_datetime'].dt.weekday // 5
df['dropoff_is_weekend'] = df['tpep_pickup_datetime'].dt.weekday // 5

/var/folders/jw/tcblr9ls0b7bl7380zc143lr0000gn/T/ipykernel_915/2261937810.py:22: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['pickup_weekofyear'] = df['tpep_pickup_datetime'].dt.weekofyear
/var/folders/jw/tcblr9ls0b7bl7380zc143lr0000gn/T/ipykernel_915/2261937810.py:23: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['dropoff_weekofyear'] = df['tpep_dropoff_datetime'].dt.weekofyear

In [25]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,pickup_month,dropoff_month,pickup_year,dropoff_year,pickup_dayofweek,dropoff_dayofweek,pickup_weekofyear,dropoff_weekofyear,pickup_is_weekend,dropoff_is_weekend
0,2,2018-01-01 12:02:01,2018-01-01 12:04:05,1.0,0.53,1.0,N,142,163,1,...,1,1,2018,2018,0,0,1,1,0,0
1,2,2018-01-01 12:26:48,2018-01-01 12:31:29,1.0,1.05,1.0,N,140,236,1,...,1,1,2018,2018,0,0,1,1,0,0
2,2,2018-01-01 01:28:34,2018-01-01 01:39:38,4.0,1.83,1.0,N,211,158,1,...,1,1,2018,2018,0,0,1,1,0,0
3,1,2018-01-01 08:51:59,2018-01-01 09:01:45,1.0,2.30,1.0,N,249,4,2,...,1,1,2018,2018,0,0,1,1,0,0
4,2,2018-01-01 01:00:19,2018-01-01 01:14:16,1.0,3.06,1.0,N,186,142,1,...,1,1,2018,2018,0,0,1,1,0,0

[0 1]